*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-image: url(pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}