*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .header-background-img{
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(meeting.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
.header-background-img {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(meeting.jpg);      /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}