* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
  }
/* third */
.box1 {
    display: flex;
    gap: 120px;
  }
  .adjust1 {
     max-width: 614px;
     font-family: poppins;
     font-size:56px;
     font-weight:700;
     line-height: 64px;
     color:rgba(51, 64, 71, 1);
  }
  .adjust2 {
    max-width: 482px;
    /* padding: 20px 0; */
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: rgba(47, 47, 47, 1);
  
  }
  .adjust2 h2 {
    max-width: 187px;
    color: #00ae6c;
    font-size:28px ;
    font-family:Poppins ;
    line-height: 42px;
    font-weight:600 ;
    transform: rotate(10.64deg);
  }
  .horizontal1 {
    display: flex;
    gap: 80px;
  }
  
  .card1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 30%;
    background: #ecfef7;
    padding: 30px 50px 40px 0;
    border-radius: 25px;
  }
  .size1{
    max-width: 50px;
    width: 100%;
  }
  .a1 {
    display: flex;
    gap: 10px;
    padding: 0 0 0 20px;
  }
  .a1 h2{
    font-size:16px;
    line-height:24px;
    font-family:sora;
    font-weight: 400;
  }
  .a1 p{
    font-size:16px;
    line-height:24px ;
    font-family:poppins;
    font-weight: 400;
    color: rgba(90, 113, 124, 1);
  }
  .a2 .atia{
    padding-left: 20px;
  }
  .a2 p {
    font-size: 18px;
    line-height: 28px;
    font-family:Poppins ;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(47, 47, 47, 1);
    padding: 8px 0 0 20px;
  }
  .direction1,p{
    flex-direction: column;
    gap: 5px;
    
  }
  
  .card2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 30%;
    background:rgba(255, 255, 255, 1);
    padding: 40px 40px 40px 0;
    border-radius: 30px;
  }
  .size2{
    max-width: 50px;
    width: 100%;
  }
  .b1 {
    display: flex;
    gap: 10px;
    padding: 0 0 0 20px;
  }
  .b1 h2{
    font-size:16px;
    line-height:24px;
    font-family:sora;
    font-weight: 400;
  }
  .b1 p{
    font-size:16px;
    line-height:24px ;
    font-family:poppins;
    font-weight: 400;
    color: rgba(90, 113, 124, 1);
  }
  .b2 .lms{
    padding-left: 20px;
  }
  .b2 p {
    font-size: 18px;
    line-height: 28px;
    font-family:Poppins ;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(47, 47, 47, 1);
    padding: 8px 0 0 20px;
    
  }
  .direction2 {
    flex-direction: column;
    gap: 5px;
  }
  .card3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 30%;
    background: #ecfef7;
    padding: 40px 40px 40px 0;
    border-radius: 30px;
  }
  .size3{
    max-width: 50px;
    width: 100%;
  }
  .c1 {
    display: flex;
    gap: 10px;
    padding: 0 0 0 20px;
  }
  .c1 h2{
    font-size:16px;
    line-height:24px;
    font-family:sora;
    font-weight: 400;
  }
  .c1 p{
    font-size:16px;
    line-height:24px ;
    font-family:poppins;
    font-weight: 400;
    color: rgba(90, 113, 124, 1);
  }
  .c2 .lms2{
    padding-left: 20px;
  }
  .c2 p {
    font-size: 18px;
    line-height: 28px;
    font-family:Poppins ;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(47, 47, 47, 1);
    padding: 8px 0 0 20px;
  }
  .direction3 {
    flex-direction: column;
    gap: 5px;
  }
  .align {
    display: grid;
    gap: 30px;
  
  }