* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
  }
.bag1 {
    background-color: #ecfef7;
    padding: 201px 121px 271px 50px;
    margin-top: 10px;
    
  }
  .bag1 h2 {
    font-size:45px;
    font-family:Poppins;
    font-weight:600px;
    line-height: 58px;
    text-align: left;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
  }
  .res{
    max-width: 1200px;
  }
  .main {
    display: flex;
    gap: 30px;
  }
  .internal1{
    max-width:500px;
  }
  .at1{
    width: 100%;
  }
  .internal2{
    max-width:500px;
  }
  .at2{
    width: 100%;
  }
  .internal3{
    max-width:500px;
  }
  .at3{
    width: 100%;
  }
  .main p {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    line-height: 33px;
    margin-top: 10px;
    color: black;
  }